{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0"></p>


        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">We been trading diamonds and esmerald for more then 45 years
                Base in London and Nice France </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}